table {
    font-family:arial, sans-serif;
    border-collapse: collapse;
    width:100%;
}
#search{
  background:rgba(62,30,30,1);
  border:2px solid rgb(173, 124, 33);
  color:rgb(243, 242, 242);
  padding:1px 10px ;
  margin-right:6px;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:6px;
}
.sr{
  border:10p solid rgba(62,30,30,1);;
  border-radius:6px;
}

  th{
    border:1px solid #aa2f2f;
    background:rgb(61, 11, 11);
    text-align:left;
    padding:8px;
    color:rgb(156, 154, 148);
  }
  td{
    border:1px solid #0c0c0c;
    background:rgb(151, 150, 150);
    text-align:left;
    padding:8px;
  }
 
  a:link {
    color:blue;
   background:transparent;
    text-decoration:underline;

}
a:visited {
 color:blue;
    background:transparent;
    text-decoration:underline;   
}
a:hover{
 color:wheat;
    
    text-decoration:underline;
}
a:active {
 color:green;
    background:transparent;
    text-decoration:underline;
}

